<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lukas Reis de Oliveira</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <p class="name">Lukas <span class="surname">Oliveira</span></p>
        <button type="button" class="contact">Entrar em contato</button>
    </header>

    <main>
        <div id="title-subtitle">
            <h1 class="main-title">Análista e Desenvolvedor de Sistemas</h1>
            <h3 class="main-subtitle">Subtitulo com frase de efeito</h3>
        </div>
        <div id="photos">
            <img src="../src/user.png" alt="foto" id="photo">
            <img src="../src/banner.png" alt="banner inicial da página" id="banner">
        </div>

        <div class="orange-body">
            <h2>Olá, eu sou o Lukas Oliveira</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ducimus tenetur, alias adipisci facere
                ipsa cupiditate corrupti eius doloribus pariatur, temporibus dolorem non maiores unde voluptas. Fugiat
                perspiciatis deleniti nostrum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, obcaecati,
                accusantium reiciendis vel temporibus, eum unde reprehenderit vero fugit odio ipsam quis autem. Fuga
                assumenda alias inventore, vel debitis fugit. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Assumenda et debitis animi odio iusto tenetur, impedit vitae? Officiis odio distinctio voluptatibus,
                repudiandae ipsum vero aspernatur sit temporibus quaerat rerum eligendi!</p>
        </div>
    </main>

    <footer>

    </footer>

    <script src="../js/index.js"></script>
</body>

</html>