@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

.corpo {
    padding: 0px;
    margin: 50px 230px; 
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.apresentacao {
    color: #707070;
    padding: 0;
    margin-top: -10px;
    text-align: left;
}

.apresentacao h2 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 32pt;
    padding: 0;
}

.subtitulo {
    margin: 0px 0px 40px 0;
    font-style: italic;
    font-size: 14pt;
    text-decoration: underline;
}

hr {
    width: 700px;
}

.textoCorpo {
    color: #707070c5;
    font-weight: 600;
    font-size: 12pt;
}